/*--------------------------------------------------------------
# MAIN RESET
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 100%;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
}

body {
    color: 333;
}

ul,
ol {
    list-style: none;
}

a img {
    border: 0;
}

img {
    vertical-align: none;
    height: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

blockquote,
q {
    quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

table {
    border-collapse: separate;
    background: #f7f7f7;
}

table,
th,
td {
    border: 1px solid #ececec;
}

th,
td {
    padding: 0.5em 0.7em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

embed,
iframe,
object {
    max-width: 100%;
}

button {
    box-shadow: 0;
    outline: 0;
    border: 0;
    background: #2980b9;
    padding: 0.7em;
    margin: 1em 0 0.5em;
    color: #f9f9f9;
    cursor: pointer;
    border: 1em solid transparent;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset;
}

:disabled,
[disabled],
[aria-disabled="true"] {
    cursor: not-allowed;
    color: graytext;
    background-color: buttonface;
}


/*--------------------------------------------------------------
# TYPOGRAPHY, ICONS & COLORS
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    font-size: 16px;
    font: 1em/1.4 sans-serif;
}

.fonts-loaded body {
    font-family: 'ApexNew', sans-serif;
    font-weight: 400;
}

p {
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #00B7FF;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1e1e1e;
    font-weight: normal;
    clear: both;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: #1e1e1e;
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1.0em;
    font-weight: bold;
}

i {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}


/*--------------------------------------------------------------
# TOOLS
--------------------------------------------------------------*/

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
