<section class="error center">
    <h1>404</h1>
    <article>
        <h2>{{message}}</h2>
        <p>Sorry, de pagina kan niet worden gevonden</p>
        <a href="/">Ga naar de home pagina.</a>
    </article>
</section>
