<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Matthias Dolstra">
    <meta name="keywords" content="Data">
    <meta name="description" content="data">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/c3.min.css">
    <title>Productivity homework</title>
</head>

<body>
    <header id="header">
        <h1>Dashboard</h1>
    </header>

    <nav id="nav">
        <ul>
            <li>
                <a href="/">
                    <svg width="35px" height="35px" viewBox="0 0 47 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 3.7.2 (28276) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <path d="M24.675,0.0694444444 C16.45,0.0694444444 9.165,4.55555556 5.405,11.4027778 L0,5.97222222 L0,21.3194444 L15.275,21.3194444 L8.695,14.7083333 C11.75,8.80555556 17.625,4.79166667 24.675,4.79166667 C34.31,4.79166667 42.3,12.8194444 42.3,22.5 C42.3,32.1805556 34.31,40.2083333 24.675,40.2083333 C16.92,40.2083333 10.575,35.25 7.99,28.4027778 L3.055,28.4027778 C5.64,37.8472222 14.335,44.9305556 24.675,44.9305556 C37.13,44.9305556 47,34.7777778 47,22.5 C47,10.2222222 36.895,0.0694444444 24.675,0.0694444444 L24.675,0.0694444444 Z M21.15,11.875 L21.15,23.9166667 L32.195,30.5277778 L34.075,27.4583333 L24.675,21.7916667 L24.675,11.875 L21.15,11.875 L21.15,11.875 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd" opacity="0.9"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="settings">
                    <svg width="35px" height="35px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 3.7.2 (28276) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <path d="M58.9043374,33.1334774 L58.9043374,25.7708601 L50.9484424,24.4439671 C50.3943765,22.0536173 49.4526831,19.8207222 48.1902531,17.7966337 L52.8819671,11.2316091 L47.676856,6.02564815 L41.1079465,10.7140844 C39.0836152,9.45566049 36.8513272,8.5100823 34.460249,7.95286008 L33.133963,0 L25.7711029,0 L24.4440885,7.95273868 C22.0571379,8.50996091 19.8208436,9.45553909 17.7967551,10.713963 L11.2280885,6.02552675 L6.02224897,11.2316091 L10.7140844,17.7966337 C9.45201852,19.817323 8.5100823,22.0536173 7.95625926,24.4439671 L0.000121399177,25.7708601 L0.000121399177,33.1334774 L7.95625926,34.4604918 C8.5100823,36.8514486 9.45201852,39.0843436 10.7140844,41.1081893 L6.02224897,47.6764918 L11.2279671,52.8822099 L17.8000329,48.1909815 C19.8208436,49.4526831 22.0570165,50.3948621 24.4440885,50.9484424 L25.7711029,58.9043374 L33.133963,58.9043374 L34.4603704,50.9484424 C36.8474424,50.3948621 39.0837366,49.4526831 41.1080679,48.1909815 L47.6769774,52.8822099 L52.8820885,47.6764918 L48.1903745,41.1081893 C49.4526831,39.0843436 50.3943765,36.8480494 50.9485638,34.4604918 L58.9043374,33.1334774 L58.9043374,33.1334774 Z M29.4522901,44.1778889 C21.3198807,44.1778889 14.7263272,37.5845782 14.7263272,29.4521687 C14.7263272,21.3197593 21.3198807,14.7262058 29.4522901,14.7262058 C37.5849424,14.7262058 44.1782531,21.3197593 44.1782531,29.4521687 C44.1782531,37.5845782 37.5850638,44.1778889 29.4522901,44.1778889 L29.4522901,44.1778889 Z"
                            id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>

    <main id="main">
        {{{body}}}
    </main>
</body>
<script type="text/javascript" src="/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/js/c3.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>


</html>
