<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Matthias Dolstra">
    <meta name="keywords" content="Data">
    <meta name="description" content="data">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/c3.min.css">
    <title>Productivity homework</title>
</head>

<body>
    <header id="header">
        <h1>Be productive at doing your homework</h1>
    </header>
    <main id="main">
        {{{body}}}
    </main>

    <footer id="footer">
        <p>Made by: Senny Kalidien</p>
    </footer>
</body>
<script type="text/javascript" src="/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/js/c3.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>


</html>
