<h1>Vissualisation</h1>
<section class="leds">
    <h2>Lisa</h2>
    <div class="{{data.lisa.led}} status"></div>
</section>
<section class="leds">
    <h2>Senny</h2>
    <div class="{{data.senny.led}} status"></div>
</section>
<section class="leds">
    <h2>Matthias</h2>
    <div class="{{data.matthias.led}} status"></div>
</section>

<form action="/api" method="post">
    <select name="lisa">
      <option value="true">ON</option>
      <option value="false">OFF</option>
    </select>
    <select name="senny">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <select name="matthias">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <select name="matthiasValue1">
      <option value="1">ON</option>
      <option value="0">OFF</option>
    </select>
    <button type="submit">
        Update
    </button>
</form>
