<section class="chart">
    <h2>Chart</h2>
    <div id="chart"></div>
</section>

<section class="leds">
    <h2>Status</h2>
    <div class="{{data.output.led}} status"></div>
    <form action="/api" method="post">
        <select name="output">
            <option value="red">Time for a break!</option>
            <option value="orange">Almost time for a break...</option>
            <option value="green">Let's be productive!</option>
        </select>
        <button type="submit">
            Update
        </button>
    </form>
</section>

<section class="sensors">
    <section>
        <h2>Status ESP</h2>
        <p>Time updated: {{data.time}}</p>
        <p>Color led: {{data.output.led}}</p>
        <p>Distance sensor: {{data.input.distance}} CM</p>
    </section>
</section>
