<h1>Visualisation</h1>
<section class="leds">
    <h2>Status</h2>
    <div class="{{data.output.led}} status"></div>
</section>

<form action="/api" method="post">
    <select name="output">
      <option value="red">Neem een break!</option>
      <option value="orange">Bijna tijd voor een break...</option>
      <option value="green">Je hebt nog tijd om productief te zijn!</option>
    </select>
    <button type="submit">
        Update
    </button>
</form>

<section class="sensors">
    <h1>Grafiek</h1>
    <div id="chart"></div>
    <small>{{data.time}}</small>
    <section>
      <h2>Status</h2>
      <p>led: {{data.output.led}}</p>
      <p>Distance: {{data.input.distance}}  C&ordm;</p>
    </section>
</section>
