<h1>hallo</h1>
<form action="/api" method="get">
    <input type="text" name="value1">
      <input type="text" name="value2">
    <button type="submit">
        <span>Search</span>
    </button>
</form>
